<td>
  <p><%= link_to model.title, { action: 'show', id: model.id } %></p>
  <p><%= model.media.blob.filename.to_s if model.media.attached? %></p>
</td>
<td><%= model.state %></td>
<td>
<% if model.cover.attached? %>
  <% if ['video/mp4'].include?(model.cover_blob.content_type) %>
    <%= video_tag model.cover, class: 'image is-64x64' %>
  <% else %>
    <%= image_tag model.cover, class: 'image is-64x64' %>
  <% end %>
<% end %>
</td>
<td><%= audio_tag model.media.url(disposition: params[:disposition]), controls: true if model.media.attached? %></td>
<td><%= model.media.blob.byte_size.to_fs(:human_size) if model.media.attached? %></td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag.name %></span>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
</td>